.nav {

  z-index: 3;
  position: relative;
  transition: all ease-in-out 0.2s;
  // position: fixed;



  &__hamburger {
    position: absolute;
    right: 0;
    display: none !important;


    @include mq(max, $BP-mobile) {
      display: block !important;
    }
  }

  &--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 2px 0 20px 2px rgba(0, 0, 0, .121569);



  }

  &__logo {
    svg {
      width: 127px;
      display: block;
    }
  }

  &__left {
    margin-right: auto;

  }

  &__right {
    display: flex;

    @include mq(max, $BP-mobile) {
      display: none;
      width: 0;
    }

    &--visible {
      background-color: red;
      width: 150px;
      position: absolute;
      height: 100vh;
      display: block;
      z-index: -2;
      top: 0;
      align-items: center;
      justify-content: center;
    }
  }

  &__icon {
    display: none;

    @include mq(max, $BP-mobile) {
      display: block;
    }
  }

  &__item {
    padding: 20px;

    width: calc(100% / 4);
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    // border-bottom: 2px solid transparent;
    // transition: all 0.2s ease-in-out;
    position: relative;

    a {
      transition: all ease-in-out 0.2s;
    }

    &:hover {
      a {
        color: $primary;
      }

    }
  }

  &__link {
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;

  }
}

.white {
  background-color: #fff;
  color: $primary;
  box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.12156862745098039);

  .nav__link {
    color: $primary;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav__hamburger {}
}

.scroll {
  scroll-behavior: smooth;
}