.body-catalog {
    background-color: rgba(163, 163, 163, 0.2);
    ;
}



.product-item {



    a {
        text-decoration: none;
    }

    &__body {
        padding: 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        transition: .5s;


        &:hover {
            // transform: scale(1.01);
            box-shadow: 0px 16px 24px rgba(8, 35, 48, 0.16);

        }
    }

    &__title {
        font-size: 16px;
        text-align: center;
        min-height: 60px;
        display: flex;
        align-items: center;

    }

    &__image {


        border: 1px solid rgba(128, 128, 128, 0.2);


        & img {
            object-fit: contain;
            object-position: center;
            width: 100%;


        }
    }

    &__action {
        padding: 32px 0 8px 0;
        width: 100%;
    }
}