<div id="space-navbar-fixed"class="banner banner--home">
    <div class="container">
        <div class="row">
            <div class="banner__wrapper">
                <div class="banner__content">
                    <h1>Европейский перевязочный материал</br> для лечения ран и рубцов</h1>
                <ul>
                    <li>Официальный диллер компании Mölnlycke Health Care (Швеция).</li>
                    <li>Прямые поставки с Европы</li>
                    <li>Запатентоваsssнная тех3222нология силиконового покрытия “Safetac”</li>
                    <li>Гипоаллергенный, дыша333щий состав</li>
                    <li>Гипоаллергенный, дыша333щий состав</li>
                    <li>Доставка по Казахстану</li>
                </ul>
            </div>
            <div class="btn btn-primary"> бесплатная консультация специалиста</div>

            <div class="arrow"></div>
        </div>

    </div>
</div>
</div>