<div id="bg_layer"></div>
<div id="modal" class="modal modal--fade">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <h3 class="modal__title block__title">Modal</h3>
                <div onclick="closeFunction();" class="btn close">x</div>
            </div>
            <div class="modal__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestias in ullam neque! Excepturi sint, porro corrupti quo laudantium harum assumenda voluptatum alias vero omnis ab, nam quam totam tempore!</p>

            </div>
            <div class="modal__footer">
                <div class="btn btn-primary">Отправить</div>

            </div>

        </div>
    </div>

</div>