<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная страница</title>
        {% include 'templates/head.html' %}
    </head>
    <body>
        <div id="example" class="main">

            <div id="space-navbar-fixed" class="banner banner--about banner--anima">
                <div class="container">
                    <div class="row">
                        <div class="banner__wrapper">
                            <div class="banner__content">
                                <h1 class="border__title border__title--white">О нас</h1>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <section>

                <div class="container">
                    <div class="row">

                        <div class="block__content block__content--no-shadow">
                            <p class="">
            Mepilex Ag также можно использовать для лечения язв нижних конечностей и стопы, пролежневых язв и ожогов второй степени. Как продемонстрировали опыты, эта губчатая повязка с содержанием серебра может инактивировать раневые патогены (бактерии и грибы) в течение 30 минут . На Международном консенсусе было подтверждено, что антибактериальное действие помогает снизить биологическую нагрузку в инфицированных ранах . Повязка также действует как антибактериальный барьер в ранах с высоким риском инфицирования или повторного заражения . Повязка Mepilex Ag мягко прилегает к ране с помощью Safetac® – уникального контактного слоя из силикона с адгезивными свойствами, уменьшающего болевые ощущения. Поэтому пациенты испытывают меньше болевых ощущений во время перевязки.
            </p>
                        </div>
                        <div class="block__content block__content--no-shadow">
                            <ul>
                                <li>Уменьшается боль при перевязках </li>

                                <li>Быстрое и устойчивое антибактериальное действие</li>

                                <li>Клинически доказано в сравнительных исследованиях, что при использовании повязки сокращаются сроки заживления ожогов второй степени</li>

                                <li>Клинически доказано, что сокращаются затраты на лечение ожогов второй степени</li>

                                <li>Клинически доказано, что уменьшается боль и тревога у пациентов с ожогом второй степени</li>

                            </ul>

                        </div>

                        <div class="block__content block__content--no-shadow">
                            <p class="block__title">Показания к использованию Mepilex Ag</p>

                            <p>
Повязка Mepilex Ag предназначена для лечения ран с экссудацией от слабой до умеренной,таких как язвы нижних конечностей и стопы, пролежневые язвы и ожоги второй степени. Повязку можно применять под компрессионными бандажами. Mepilex Ag можно применять для лечения инфицированных ран в рамках схемы лечения под наблюдением квалифицированного специалиста в области здравоохранения.

</p>

                        </div>

                        <div class="block__content block__content--no-shadow">
                            <p class="block__title">Как применять Mepilex Ag</p>


Посмотрите как применять универсальную повязку Mepilex Ag. Перед нанесением повязки очистите рану. Для достижения наилучшего результата, повязка Mepilex Ag должна перекрывать сухую окружающую кожу, по крайней мере, на 1-2 см для

меньших размеров (размеры до 12.5x12.5 cm) и 5 см для больших размеров, чтобы защитить окружающую кожу от мацерации и экскориации и надежно зафиксировать повязку. Для фиксации можно использовать бинт Tubifast® .
            
            </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include 'templates/footer.html' %}
</div>
</body>
</html>