<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная страница</title>
        {% include 'templates/head.html' %}
    </head>
    <body>
        <div class="main">

            <div id="space-navbar-fixed" class="banner banner--cat banner--anima">
                <div class="container">
                    <div class="row">
                        <div class="banner__wrapper">
                            <div class="banner__content">
                                <h1 class="border__title border__title--white">Каталог</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">

                <div class="row">
                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/img_prod.jpg"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/mepilex/01.jpg"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/mepiform/04.png"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/mepore-pro/05.JPEG"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/img_prod.jpg"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/img_prod.jpg"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-3">
                        <div class="product-item">
                            <div class="product-item__body">
                                <p class="block__title product-item__title">Mipilex</p>
                                <div class="product-item__image">
                                    <img src="img/img_prod.jpg"></div>
                                <div class="product-item__action">
                                    <a  href="product.html">подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% include 'templates/footer.html' %}
        </div>
    </body>
</html>