<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная страница</title>
        {% include 'templates/head.html' %}
    </head>
    <body>
        <div id="example" class="main">

            <div id="space-navbar-fixed" class="banner banner--cat banner--anima">
                <div class="container">
                    <div class="row">
                        <div class="banner__wrapper wrapper">
                            <div class="banner__content">
                                <h1 class="border__title border__title--white">Контакты</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <section>

                <div class="container">
                    <div class="row row-reverse">

                        <div class="col col-6">
                            <div class="block__content block">
                                <div class="block__header contact__header">
                                    <p class="block__title contact__title">
                                        {% include 'img/contact_w.svg' %}Обратная связь</p>
                                </div>
                                <form action="/action_page.php" class="test">
                                    <label class="modal__field" for="fname">Ваше имя</label>
                                    <input class="modal__field" type="text" id="fname" name="firstname" placeholder="Нурсултан">

                                    <label class="modal__field">Номер телефона</label>
                                    <input type="text" id="lname" name="lastname" placeholder="+7 (__)___ __ __">
                                    <label class="modal__field" >Ваше сообщение:</label>
                                    <textarea placeholder="Напишите что-нибудь..." rows="10" cols="45" name="text"></textarea>
                                    <div class="btn btn-primary">Отправить</div>
                                </form>

                            </div>
                        </div>

                        <div class="col col-6">
                            <div class="block__content block">
                                <div class="block__header contact__header">
                                    <p class="block__title">Адрес:</p>
                                </div>
                                <p>
                                    <b>Индекс:</b> 010000</br>
                                <b>Город:</b> Нур-Султан</br>
                            <b>Район: </b>"Есиль", ул.38, дом 23, кв 158.</br>

                        <b>Телефон:</b> 8 701 851 92 10</br>

                    <b>Директор:</b> Ходакова Галина Ивановна</br> (на основании устава)</p>
        </div>

        <div class="block__content block">
            <div class="block__header contact__header">
                <p class="block__title">Реквизиты:</p>
            </div>
            <b>Товарищество с ограниченной ответственностью "Skin Care Shop"</b>
        </br>

        <b>БИН:</b> 190940020648 </br>

    <b>БИК</b> ALFAKZKA </br>

<b>Банк:</b> АО ДБ «Альфа-Банк» </br>

<b>ИИК</b> в тенге: KZ569470398923976794 </br>

<b>ИИК в рублях:</b> KZ789470643003629546 </br>

<b>ИИК в евро:</b> KZ439470978072964765 </br>
</div>

</div>

</div>
</div></div> </section>{% include 'templates/footer.html' %}</div></body></html>