<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    {% include 'templates/head.html' %}
  </head>
  <body >
    <div id="example" class="main">
      {% include 'templates/header.html' %}
      {% include 'templates/home-cat.html' %}
      {% include 'templates/steps.html' %}
      {% include 'templates/expert.html' %}
      {% include 'templates/testominals.html' %}
      {% include 'templates/aboutlist.html' %}
      {% include 'templates/marketing.html' %}

    </div>
    {% include 'templates/footer.html' %}
  </body>
</html>