<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная страница</title>
        {% include 'templates/head.html' %}
    </head>
    <body>
        <div class="main">

            <section>

                <div id="space-navbar-fixed" class="banner banner--product banner--anima">
                    <div class="container">
                        <div class="row">
                            <div class="banner__wrapper">
                                <div class="banner__content">
                                    <h1 class="border__title border__title--white">Mepilex Ag</h1>
                                    <p>Mepilex® Ag - это универсальная антибактериальная губчатая повязка в случаях, когда требуется антибактериальное действие для снижения биологической нагрузки в ране. Она разработана для лечения ожогов и ран с экссудацией от низкой до умеренной</p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col col-4">
                            <div class="block__left">
                                <div class="block_imge"><img id="cardImg" src="/img/img_prod.jpg" alt="" class=""></div>
                                <ul>
                                    <li><img id="cardImg" src="/img/img_prod.jpg" alt=""></li>
                                    <li><img id="cardImg" src="/img/img_prod.jpg" alt=""></li>
                                    <li><img id="cardImg" src="/img/img_prod.jpg" alt=""></li>
                                </ul>
                                <div  onclick="openFunction();" class="btn btn-primary">Заказать</div>

                            </div>
                        </div>
                        <div class="col col-8">
                            <div class="block__right">
                                <div class="block__content block__content--no-shadow block__content--ul-margin-none">
                                    <p class="block__title">Размер</p>
                                    <ul class="block__size">
                                        <li>4 х 30</li>
                                        <li>5 х 7,5</li>
                                        <li>10 х 18</li>
                                    </ul>
                                </div>
                                <div class="block__content">
                                    <p>Мировой лидер в сегменте производства перевязочных материалов Mölnlycke Health Care предложил уникальную линейку самоклеющихся повязок с покрытием из медицинского силикона. Мепиформ – пластырь, который эффективно используется сегодня во всем мире для профилактики и лечения шрамов и рубцов, совершил настоящий прорыв в косметической медицине. В чем особенность пластыря Мепиформ, и как он действует?
                                        Секрет скрыт в инновационной технологии Safetac, 
                                        которая предполагает наличие на самоклеющейся повязке силиконового слоя</p>
                                </div>

                                <div class="block__content">
                                    <p class=" block__title">способ применения:</p>
                                    <p>Главным условием использования силиконового пластыря является гигиеническое соответствие изделия и области кожи, на которую он накладывается.

        </br>Отлично справляется не только со свежими шрамами и рубцами, но и с патологиями, полученными много лет назад.</br>

        Пластырь крепится на чистую кожу так, чтобы его границы выступали за область рубца, как минимум, на 1 см.</br> При необходимости можно вырезать повязку нужного размера. </br>Область наложения повязки Мепиформ должна быть сухой. Оптимально носить повязку Mepiform круглосуточно. </br>Снимать повязку Mepiform рекомендуется один раз в сутки, например, при принятии душа или ванны, для осмотра и мытья кожи. </br>Повязку Mepiform не нужно мыть/чистить.</br> Менять повязку Мепиформ следует каждые 3-7 дней, или когда она начинает отклеиваться.</p>
    </div>

    <div class="block__content">
        <p class="block__title">Противопоказания</p>

        <p>Главным условием использования силиконового пластыря является гигиеническое соответствие изделия и области кожи, на которую он накладывается.

        Мепиформ пластырь, купить который можно на нашем сайте, отлично справляется не только со свежими шрамами и рубцами, но и с патологиями, полученными много лет назад.

        Пластырь крепится на чистую кожу так, чтобы его границы выступали за область рубца, как минимум, на 1 см. При необходимости можно вырезать повязку нужного размера. Область наложения повязки Мепиформ должна быть сухой. Оптимально носить повязку Mepiform круглосуточно. Снимать повязку Mepiform рекомендуется один раз в сутки, например, при принятии душа или ванны, для осмотра и мытья кожи. Повязку Mepiform не нужно мыть/чистить. Менять повязку Мепиформ следует каждые 3-7 дней, или когда она начинает отклеиваться.</p>
    </div>
    <div  onclick="openFunction();" class="btn btn-primary display-mob">Заказать</div>
</div>

</div>
</div>
</div>

{# 
                                <div id="cardInfo">
                                    <div class="card-l">
                                        <div class="card-l__images"><img id="cardImg" src="/img/img_prod.jpg" alt="" class=""></div>
                                        <div class="card-l__thumbnails">
                                            <div id="prevSlide">
                                    &lt;-</div>
                                            <div id="nextSlide">-&gt;</div>

                                            <div class="thumbnails__container">
                                                <div id="cardImages"></div>
                                            </div>
                                        </div>
                                        <div class="card-l__footer">
                                            <button type="button" class="btn btn-primary w-100">
            Заказать
        </button>
                                        </div>

                                    </div>

                                    <div class="card-r">
                                        <div class="card-r__label">

                                            <h2 id="cardTitle">Заголовок</h2>
                                        </div>

                                        <div class="card-r__desc" id="cardDescription"></div>

                                    </div>

                                </div>

                            </div> #}
</div>
</div>
</div>
</section>
{% include 'templates/footer.html' %}
</body></html>